<aside role="banner" class="cover">
  <div {{#if @blog.cover_image}}data-load-image="{{@blog.cover_image}}" {{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
    <a href="{{@blog.url}}" class="cover-logo" data-pjax>
      <img src="{{@blog.logo}}" alt="Blog Logo">
    </a> {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    {{#if @blog.description}}
      <p class="cover-description">{{@blog.description}}</p>
    {{/if}}
    <div class="cover-navigation-links">
      <a href="/" data-pjax>Home</a>
      <a href="/projects" data-pjax>Projects</a>
      <a href="/about" data-pjax>About</a>
    </div>
    <div>
    <a href="mailto:jptran318@gmail.com" class="cover-icon" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-envelope-o fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://github.com/jooohhn" class="cover-icon" target="_blank">
     <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/john-tran-948486109/" class="cover-icon" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/jooohhnt" class="cover-icon" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
  </div>
</aside>
